services:
  vintagestory:
    image: ghcr.io/renorris/vintagestory-restic:latest
    restart: unless-stopped
    environment:
      # Required: URL to Vintage Story server archive
      VS_SERVER_TARGZ_URL: "https://cdn.vintagestory.at/gamefiles/stable/vs_server_linux-x64_1.21.6.tar.gz"

      # Backup configuration (optional - omit BACKUP_INTERVAL to disable backups)
      BACKUP_INTERVAL: "1h"
      RESTIC_REPOSITORY: "s3:s3.amazonaws.com/bucket/path"
      RESTIC_PASSWORD: "your-restic-password"
      DO_BACKUP_ON_SERVER_START: "true"
      BACKUP_PAUSE_WHEN_NO_PLAYERS: "true"

      # Set according to your Restic configuration. See https://restic.readthedocs.io/en/stable/030_preparing_a_new_repo.html
      # AWS_ACCESS_KEY_ID: ""
      # AWS_SECRET_ACCESS_KEY: ""
      # etc.
    ports:
      - 42420:42420/tcp
      - 42420:42420/udp
    volumes:
      - ./gamedata:/gamedata
      - serverbinaries:/serverbinaries
      - backupcache:/backupcache

volumes:
  serverbinaries:
  backupcache:
