services:
  vintagestory:
    image: ghcr.io/renorris/vintagestory-restic:latest
    restart: unless-stopped
    environment:
      FOO: BAR
    ports:
      - 42420:42420/tcp
      - 42420:42420/udp
    volumes:
      - ./gamedata:/gamedata            # Mount gamedata next to compose file
      - serverbinaries:/serverbinaries  # Docker-managed volumes for server binaries and backup cache
      - backupcache:/backupcache

volumes:
  serverbinaries:
  backupcache: